<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	  <title>NCOB Home</title>
	  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>

        <div class="container">
            <div class="nav">
                <ul>
                    <li><a th:href="@{/user/robots}"> My Robots </a></li>
                </ul>
            </div>
            <div class="main">
                <p>Other user related content</p>
            </div>
        </div>

	</body>
</html>